.Item {
    display: flex;
    box-shadow: 0px 9px 20px black;
    justify-content: space-between;
    width: 90%;
    max-width: 800px;
    margin: 15px auto;
    padding: 10px;
    background-color: white;
    cursor: pointer;
}

.Done {
    background-color: lightgray;
}

.Done p {
    text-decoration: line-through;
}